pre {
    background-color: #E0E0E0;
}

code {
    background-color: #E0E0E0;
    border-radius: 3px;
    color: #880000;
    display: inline-block;
    padding: 2px 4px;
}

pre code {
    display: block;
    padding: 16px !important;
}

.inline-block {
    display: inline-block !important;
    max-width: 100%;
    width: auto;
}