pre {
    background-color: #E0E0E0;
}

code {
    background-color: #E0E0E0;
    border-radius: 3px;
    color: #880000;
    display: inline-block;
    padding: 2px 4px;
}

pre code {
    display: block;
    padding: 16px !important;
}

.inline-block {
    display: inline-block !important;
    max-width: 100%;
    width: auto;
}

.expanded-block {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.expanded-block .tab-content {
    height: calc(100vh - 53px) !important;
}

.expanded-block *[style] {
    height: calc(100vh - 85px) !important;
}